<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362538507557-04n1ll1i12a57gfc6fkr3th9ujvfoceu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362538507557-04n1ll1i12a57gfc6fkr3th9ujvfoceu</string>
	<key>API_KEY</key>
	<string>AIzaSyDTX8eMEUNIOIeosSsnSXGsb0wt5ydIjT4</string>
	<key>GCM_SENDER_ID</key>
	<string>362538507557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sa.edu.com.Danya.Akmelha</string>
	<key>PROJECT_ID</key>
	<string>akmelha-132e0</string>
	<key>STORAGE_BUCKET</key>
	<string>akmelha-132e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362538507557:ios:8328c4bfe9dc3de0610ecc</string>
</dict>
</plist>